<app-navbar></app-navbar>
<div class="about-container">
    <div class="about-image">
        <img src="avtar.png" alt="Dhaval Rana">
    </div>
    <div class="about-content">
        <h1>Dream Big, Work Hard, Achieve More!</h1>
        <p>
            This mantra drives my work as a passionate freelancer. I blend innovative technology with timeless design
            for captivating digital experiences. Inspired by nature and literature, I'm a perpetual learner embracing
            challenges. With each project, I aim to leave a lasting impact—one pixel at a time.
        </p>
    </div>
</div>
<div class="container">
    <h1>I'm comfortable in...</h1>
    <div class="skills">
        <div class="skill">JavaScript</div>
        <div class="skill">Web Design</div>
        <div class="skill">SEO</div>
        <div class="skill">HTML</div>
        <div class="skill">CSS</div>
        <div class="skill">Node.JS</div>
        <div class="skill">Angular</div>
        <div class="skill">JAVA</div>
        <div class="skill">PHP</div>
        <div class="skill">MongoDB</div>
    </div>
</div>
<app-footer></app-footer>
