<div class="container">
    <div class="logo">
        <img src="logo.jpg" alt="Dhaval Rana" title="Dhaval's Blog">
        <p>Dhaval Rana's Blog</p>
    </div>
    <div class="menu">
        <h5 (click)="onHome()">Home</h5>
        <h5 (click)="onAbout()">About</h5>
        <h5 (click)="onContact()">Contact</h5>
    </div>
    <div class="links">
        <a href="https://github.com/DhavalRana1312" target="_blank"><img src="github.png" alt="GitHub"
            title="GitHub"></a>
        <a href="https://www.linkedin.com/in/dhaval-rana1312/" target="_blank"><img src="linkdeen.png" alt="linkdeen" title="linkdeen"></a>
        <a href="https://wa.me/+918238172562" target="_blank"><img src="whatapp.png" alt="WhatApp" title="WhatApp"></a>
    </div>
</div>